*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    height: 60px ;
    

}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

li{

    text-align: center;
    padding: 14px 12px;
}

a{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}
.text{
    font-size: 0.9rem;
}
.apps-bg{
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
}

.apps-btn{
    width: 15px;
}
.apps-btn:hover{
    background-color: rgb(100,100, 100,0.1);
    cursor: pointer;
}

.signin-pic{
    border-radius: 50%;
    width: 100%;
    margin-top: 6px;
    

}

.main{
    border: 2px solid black;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer{
    border: 2px solid grey;
    height: 10%;
    width: 100%;

}
form{
    position: relative;
    margin-top: 30px;
}
input{
    width: 580px;
    height: 45px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;

}
input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

.search-icon{
   width: 15px;
   position: absolute;
   top: 45px;
   left: 30px;

}

.mic{
    width: 30px;
    position: absolute;
    top: 40px;
   left: 510px;
}
.came{
    width: 15px;
    position: absolute;
    top: 45px;
   left: 550px;

}
.buttons{
display: flex;
justify-content: center;
gap: 15px;
width: 350px;
margin: auto;
margin-top: 30px;
}
button{
    border: 1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

button:hover{

    border: 1px solid #eee;
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
    cursor: pointer;
}

/*footer{
    width: 100%;
    background-color: grey;
}*/
.links{
    display: flex;
    border-bottom: 1px solid #ddd;
    height: 50px;
    justify-content: space-between;
    padding: 15px;
}

.h{
    color: grey;
    padding-left: 13px;

}
